.container-page {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.profile-title {
  align-items: center;
  padding: 20px;
  padding-top: 30px;
}
// my books cards
.card-trip {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


// new book button

.books-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// profile & bookings section
.profile {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  height: 75%;
  align-items: center;
  align-content: center;
}


.books-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-right: 20px;
}


.container-page .rentals {
  margin-left: 15px;
}

.profile-info {
  text-align: center;
}
