  <div class="footer-container">
    <div class="social-icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-tiktok"></i>
    </div>
     <a role="button" href="/#more-info-container"> <h3>Bookies.</h3></a>

  </div>
