<div class="home-container">
  <div class="banner-container">
    <h1 id="title">Bookies.</h1>

    <p>Share the books you love with other bookies.</p>
    <br>
    <a class="button-57" role="button" href="/books"><span class="text">Explore</span><span>Books</span></a>
    <a class="button-57" role="button" href="#more-info-container"><span class="text">more info</span><span>Books</span></a>
  </div>
  <div id="more-info-container">
    <%= image_tag "bookie.png" %>
   <div class="home-text">
      <h2>Enjoy the experience of reading the books you want, when you want without the clutter and the cost.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

      <h2>Rent your books to other Bookies.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

      <h2>Access to a library at your fingertips.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <h2>Take a step away from the screens and dive into another world.</h2>
   </div>
  </div>
  <div class="footer-container">
    <p>Footer</p>
  </div>
</div>
