<div class="home-container">
  <div class="banner-container">
    <h1 id="title">Bookies.</h1>

    <p>Share the books you love with other bookies.</p>
    <br>
    <a class="button-57 explore" role="button" href="/books"><span class="text">Explore</span><span>Books</span></a>
    <a class="button-57 more-info" role="button" href="#more-info-container"><span class="text">More Info</span><span>More Info</span></a>
  </div>
  <div id="more-info-container">
    <div class="lower-index">
      <%= image_tag "bookie" %>
      <a class="button-57 explore page" role="button" href="/books"><span class="text">Explore</span><span>Books</span></a>
    </div>
   <div class="home-text">
      <h2>Enjoy the experience of reading the books you want, when you want without the clutter and the cost.</h2>
      <p>Rent books online for a designated period of time. No more cluttered bookshelves full of books you only buy because of a recommendation</p>

      <h2>Rent your books to other Bookies.</h2>
      <p>Earn extra money from books that haven't left your bookshelf in years. Clear some space on your bookshelf by allowing others to enjoy your favourite books themselves.</p>

      <h2>Access to a library at your fingertips.</h2>
      <p>Find books that you have been meaning to read without the price of a brand new book or a long wait list at your local library</p>
      <h2>Take a step away from the screens and dive into another world.</h2>
   </div>
  </div>
</div>
