<h1>my profile</h1>

<h3>my listed books</h3>

<%= cl_image_tag @user.photo.key,
      width: 400, height: 300, crop: :fill %>

<% @user.books.each do |book| %>
    <li> <%= book.title %> </li>
<% end %>

<h3>my bookings</h3>
<%= @user.bookings.each do |booking| %>
  <%= booking.total_price %>
<% end %>
