<%# <% @books.each do |book| %> 
<%# <li><%=link_to book.title, book_path(book)</li> %>
<%# <% end %> 
<%# <div class="index-card">
  <img src="./app/assets/images/book_cover" alt="Book Cover" style="width:100">
    <div class="container">
      <h4><strong>Title</strong></h4>
    </div>
</div> %>
<div class="card-book">
  <img src="../../assets/images/book_cover.png" />
  <div class="card-book-infos">
      <h2>Book</h2>
    <div class="card-bottom">
      <p>Author</p>
      <p class="card-book-pricing">£99.99 pernight</p>
    </div>

  </div>
</div>


<% @books.each do |book| %>
  
<% end %>