//  <------ Front Page button  ----->
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: white;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: rgba(0, 0, 0, .7);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  opacity: .7;
}

.explore {
  width: 300px;
  // height: 80px;
  text-align: center;
  font-size: 19px;
  margin-bottom: 30px;
  border: solid rgba($color: #000000, $alpha: .7);
}

.more-info {
  color: rgba($color: #000000, $alpha: .7);
  background-color: #f0ebe3;

}

.page {
  margin-left: 100px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: black;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 10px;
  line-height: 13px;
  text-align: center;
}

.button-57 .more-info span:last-child  {
  color: pink;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0ebe3;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

// <----- btn ----->
.btn {
  background-color: #f0ebe3;
  border: solid rgba(0,0,0,0.3);
  color: black;
  // opacity: .7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.btn:hover {
  background-color: hwb(36 96% 0%);
  border: solid rgba($color: #ffffffe0, $alpha: .5);
}


.btn-new {
  margin: 10px;
}


.modal-content {
  background-color: #f0ebe3;
}

.btn-book-profile{
  background-color: transparent;
  border: 0px ;
  box-shadow: none;
}

.btn-book-profile:hover {
  border: none;
}

.btn-search {
  background-color: #EAE1D2;
  border-radius: 0px, 50px, 50px, 0px;
  border: solid rgba($color: #000000, $alpha: .1);
  // box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  opacity: .7;
}

.btn-search:hover {
  background-color: #d8d0c2;
}

.btn-new-booking {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
    /* opacity: .7; */
  height: 72px;
  width: 200px;
  font-size: larger;
}