// Index cards

// .card {
//   box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: .2);
//   transition: 0.3s;
  // background-image: url(./app/assets/images/book_cover.jpeg);
// }

// .card:hover {
//   box-shadow: 0 8px 16px 0 rgba($color: #000000, $alpha: .2)
// }

// .container {
//   padding: 2px 16px;
// }
.card-book {
  overflow: hidden;
  background: pink;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-book > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-book h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-book p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-book .card-book-pricing {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-book .card-book-infos {
  padding: 16px;
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-book-infos .card-book-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  background-color: pink;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}