.card-book {
  // flex: 1 1 auto;
  // overflow: hidden;
  background: #f0ebe3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // padding: 5px;
  margin: 20px;
}

.card-book > img {
  height: 450px;
  width: 300px;
  object-fit: cover;
  // margin-bottom: 10px;
  padding: 10px;
}

.card-book h2 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.card-book p {
  font-size: 13px;
  opacity: .7;
  margin: 0;
}

.card-book .card-book-pricing {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-book .card-book-infos {
  padding: 16px;
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-book-infos .card-book-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  background-color: #f0ebe3;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  // background-color: pink;
  padding: 30px;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .box-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .box-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .box-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}