.navbar-bookies {
  justify-content: space-between;
  background: white;
}

.navbar-bookies .navbar-collapse {
  flex-grow: 0;
}

.navbar-bookies .navbar-brand {
  padding-left: 40px;
}

.container-fluid {
  padding: 0px;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown {
  padding-right: 40px;
}
