.tab-content {
  border-radius: 4px 4;
  background-color: #f0ebe3;
}

.booking-info {
  padding-left: 20px;
  margin: 0px 10px;
  border: 0.5px solid rgba($color: #000000, $alpha: 0.7)
}

.nav-link {
  text-decoration: none;
  color: black;
  opacity: .65;
}
