.tab-content {
  border-radius: 4px 4;
  background-color: #f0ebe3;
}

.booking-info {
  padding: 15px;
  display: flex;
  // border: 0.5px solid rgba($color: #000000, $alpha: 0.7)
}
.accept-btn {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:#fff ;
  padding-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  // opacity: .65;
}

.container-bookings {
  margin-top: 15px;
}


// rental/booking cards
.card-product {
  overflow: hidden;
  height: 120px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.card-product img {
  height: 90%;
  width: 120px;
  object-fit: cover;
  padding-left: 10px;
}

.card-product h5 {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
