.tab-content {
  border-radius: 4px 4;
  background-color: #f0ebe3;
}

.booking-info {
  padding-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  opacity: .65;
}

.profile-title {
  align-items: center;
  padding: 20px;;
}
